<div class="h-full flex justify-center items-center">
  <form
    class="bg-white mt-2 w-98 p-5 flex flex-col justify-center rounded h-98"
    #userForm="ngForm"
  >
    <div class="flex justify-center items-center gap-4">
      <p>logo</p>
      <p>name of logo</p>
    </div>
    <p class="text-center mt-2 font-medium text-gray-700 text-sm">
      Sign up your account
    </p>
    <div class="flex flex-col w-96 py-3 px-2">
      <app-input-field
        class="border-0 bg-transparent"
        label="username"
        placeholder="username"
        type="text"
        name="username"
        [(ngModel)]="user.username"
        [submitted]="isSubmitted"
        [pattern]="letterPattern"
        errorMessage="Only letters allowed"
      ></app-input-field>
      <p class ="bg-red-700">{{user.username}}</p>

    </div>

    <div class="flex flex-col w-96 py-3 px-2">
      <app-input-field
        class="border-0 bg-transparent"
        label="Email"
        placeholder="email"
        type="text"
        name="email"
        [(ngModel)]="user.email"
        [submitted]="isSubmitted"
        [pattern]="emailPattern"
        errorMessage="Invalid Email"
      ></app-input-field>
    </div>

    <div class="flex flex-col w-96 py-3 px-2">
      <div class="relative">
        <app-input-field
          class="border-0 bg-transparent mt-2 focus:ring-0 focus:border-orange-400 w-full pr-10"
          label="Password"
          placeholder="Password"
          type="Password"
          name="password"
          [(ngModel)]="user.password"
          [submitted]="isSubmitted"
        ></app-input-field>
        <i
          class="fa fa-eye-slash absolute right-3 top-5 text-gray-400 cursor-pointer"
        ></i>
      </div>
    </div>


    <div class="flex flex-col w-96 py-3 px-2">
      <button
        class="hover:bg-orange text-white font-bold py-2 px-4 rounded"
        style="background: #ff720d"
        type="button"
        (click)="signUp(userForm)"
      >
        sign up
      </button>
      <div class="flex gap-1 mt-3 text-gray-500 text-sm">
        <p>Already have an account?</p>

        <a
          class="cursor-pointer"
          style="color: rgb(255, 114, 13)"
          (click)="navigateToLogin()"
        >
          Sign In
        </a>
      </div>
    </div>
  </form>
</div>
