<button
  data-drawer-target="sidebar-multi-level-sidebar"
  data-drawer-toggle="sidebar-multi-level-sidebar"
  aria-controls="sidebar-multi-level-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  *ngIf="showLayout"
  id="sidebar-multi-level-sidebar"
  class="fixed top-0 left-0 z-40 w-60 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div
    [ngStyle]="{
      width: isToggled ? '60px' : 'auto',
      overflow: isToggled ? 'hidden' : 'auto'
    }"
    class="h-full px-3 py-4 overflow-y-auto bg-white dark:bg-gray-800"
  >
    <div class="flex justify-between items-center px-4">
      <p>logo</p>

      <!-- toggle-icon -->
      <div
        [ngStyle]="{ justifyContent: isToggled ? 'center' : 'end' }"
        class="flex flex-row-reverse"
        (click)="toggleSidebar()"
      >
        <button *ngIf="isToggled">
          <i class="pi pi-bars"></i>
        </button>

        <button *ngIf="!isToggled">
          <i class="pi pi-times"></i>
        </button>
      </div>
    </div>

    <p-accordion value="0">
      <p-accordion-panel value="0">
        <p-accordion-header routerLink="/dashboard">
          <i class="pi pi-home" style="font-size: 25px; margin-bottom: 2px"></i>
          Dashboard
        </p-accordion-header>
        <p-accordion-content>
          <ul class="space-y-2 font-medium mt-4">
            <li class="cursor-pointer">
              <a
              class="flex items-center py-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
                <span
                  [ngClass]="{ toggled: isToggled }"
                  class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
                  >Orders list</span
                >
                </a>
            </li>

            <li class="cursor-pointer">
              <a
                  class="flex items-center py-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
                <span
                  [ngClass]="{ toggled: isToggled }"
                  class="flex-1 ms-3 whitespace-nowrap"
                  >Order detail</span
                >
              </a>
            </li>

            <li class="cursor-pointer" routerLink="/customers/lists">
              <a
                class="flex items-center py-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
                <span
                  [ngClass]="{ toggled: isToggled }"
                  class="flex-1 ms-3 whitespace-nowrap"
                  >Customers</span
                >
              </a>
            </li>

            <li class="cursor-pointer">
              <a
                class="flex items-center py-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
                <span
                  [ngClass]="{ toggled: isToggled }"
                  class="flex-1 ms-3 whitespace-nowrap"
                  >Reviews</span
                >
              </a>
            </li>

            <li class="cursor-pointer">
              <a
                  class="flex items-center py-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
                <span
                  [ngClass]="{ toggled: isToggled }"
                  class="flex-1 ms-3 whitespace-nowrap"
                  >Analytics</span
                >
              </a>
            </li>
            <li class="cursor-pointer">
              <a
                  class="flex items-center py-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
                <span
                  [ngClass]="{ toggled: isToggled }"
                  class="flex-1 ms-3 whitespace-nowrap"
                  >Setting</span
                >
              </a>
            </li>
          </ul>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
</aside>

<app-header *ngIf="showLayout" [sideBarToggled]="isToggled"></app-header>

<app-main-content [showLayout]="!showLayout" [sideBarToggled]="isToggled">
</app-main-content>
